body{
    margin: 0;
    text-align: center;
}
.top-container{
    background-color:#e3fdfd;
    height: 100%;
}
h1{
    color: #71c9ce;
    font-family: 'Niconne', cursive;
    font-size: 562.5%;    
}
p{
    color: #71c9ce;
    font-family: 'Berkshire Swash', cursive;
}
hr{
    border-style: dotted none none;
    border-color:#cbf1f5;
    border-width:8px;
    width:5%;
}
.top-cloud-container{
    position: relative;
    padding-left: 400px;
    padding-top: 100px;
}
.cloud-container{
    position: absolute;
    margin-left: 15px;
}
.mountain-container{
    position: relative;
}